* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  scroll-behavior: smooth;
  letter-spacing: 0.05em;
  background: #3b0f4c;
}

header {
  width: 100%;
  height: 4em;
  padding: 10px;
  display: flex;
  justify-content: center;

  align-items: center;
  gap: 30%;
}

.headerButton {
  width: 100%;
  font-size: 0.8em;
  font-weight: 700;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #ccc;
  box-shadow: 0 4px 0 #5678ff;
  background-color: #ff3333;
  color: black;
  transition: transform 0.1s, box-shadow 0.1s, background-color 0.2s;
}

.headerButton:hover {
  background-color: #00ff80;
}

.headerButton.active {
  background-color: #ffff00;
}

.headerButton:active {
  transform: translateY(3px);
  box-shadow: none;
}

.firstPage {
  display: flex;
  flex-direction: column;
}

.topNavigation {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.topNavigationInputs {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}

.input {
  padding: 8px 12px;
  height: 40px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  color: #ffff;
}

.input:focus {
  border-color: #00ff80;
  color: #ffff;
}

.colorBox {
  width: 40px;
  height: 2.3em;
  background-color: #00ff80;
  border-radius: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.color-wrapper {
  position: relative;
  width: 40px;
  height: 37px;
}

#colorPicker1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.8em;
  opacity: 0;
  cursor: pointer;
}

#colorPicker2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.8em;
  opacity: 0;
  cursor: pointer;
}

.btn {
  padding: 10px 16px;
  background-color: #ffff00;
  color: #000;
  font-weight: bold;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 0 #3f7ded;
  cursor: pointer;
  transition: transform 0.1s, box-shadow 0.1s;
}

.btn:hover {
  background-color: #00ff80;
}

.btn:active {
  transform: translateY(2px);
  box-shadow: none;
}

.topNavigationBottomBtn {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  gap: 1.5em;
}

.garage {
  padding-top: 15px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.garage h1 {
  color: #ffff;
}

.carsList {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pagination {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.pagination span {
  color: #ffff;
  font-size: 1.3em;
}

.carElementTopSide {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.carElementTopSide p {
  color: #ffff;
}

.workingButton {
  width: 88.16px;
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid #ccc;
  box-shadow: 0 2px 0 #5678ff;
  background-color: #ff3333;
  color: black;
  transition: transform 0.1s, box-shadow 0.1s, background-color 0.2s;
}

.workingButton.active {
  background-color: #ffff00;
}

.workingButton:active {
  transform: translateY(3px);
  box-shadow: none;
}

.raceTrack {
  height: 55px;
  width: 100%;
  margin-top: 5px;
  border-bottom: dashed 2px #ffff;
  display: flex;
  flex-direction: row;
  position: relative;
}

.raceTrackCar {
  background: none;
  bottom: 1px;
}

.flag {
  background: none;
  position: absolute;
  bottom: 1px;
  left: 90%;
}

.winners {
  padding: 25px 10px;
  display: flex;
  flex-direction: column;
}

.winnersCount h1 {
  color: #ffff;
}

.winners table {
  border: solid 2px #00ff80;
  border-radius: 12px;
  text-align: left;
  color: white;
  background: #00ff80;
  margin-top: 20px;
}

.winners th {
  width: 5%;
  padding: 12px 15px;
  background: #00ff80;
  color: #000;
}
.winners td {
  width: 5%;
  height: 45px;
  padding: 10px;
  border-radius: 20px;
}

.sortBtn {
  width: 100%;
  border: none;
  display: flex;
  align-items: start;
  background: #00ff80;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.winnerDisplay {
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
  z-index: 2;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.winnerDisplay h1 {
  background: #ff3333;
  position: fixed;
  color: #ffff00;
  font-size: xx-large;
  font-weight: 700;
  border-radius: 5px;
}

.arrow {
  background: none;
}

.arowUp {
  display: flex;
}

.carsManag {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 40%;
}

.overlay {
  position: fixed;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  z-index: 3;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}
.overlay.show {
  display: flex;
}

.headerLeftNav {
  width: 15%;
  display: flex;
  gap: 10px;
}
header h1 {
  color: #ffff;
  width: 10%;
}

.headerRightNav {
  width: 15%;
  display: flex;
  gap: 10px;
}

.logIn {
  width: 100%;
  height: 100%;
  background: #3b0f4c;
  display: flex;
  z-index: 5;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  position: absolute;
}
h2 {
  color: #fff;
}

.logInBox {
  width: 20%;
  border: 2px solid #ffff;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logIninput {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logIninput input {
  width: 100%;
}

.logInBtns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.logInBtns button {
  width: 100%;
}

.logInName {
  height: 4em;
  padding: 10px;
  width: 100%;
  position: absolute;
  top: 0%;
  display: flex;
  justify-content: center;
}

.logInName h1 {
  color: #ffff;
}

.signUp {
  width: 100%;
  height: 100%;
  background: #3b0f4c;
  display: flex;
  z-index: 4;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  position: absolute;
}

.signUpBox {
  width: 20%;
  border: 2px solid #ffff;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.headerButtonRight {
  width: 100%;
  font-size: 0.8em;
  font-weight: 700;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #ccc;
  box-shadow: 0 4px 0 #5678ff;
  background-color: #ff3333;
  color: black;
  transition: transform 0.1s, box-shadow 0.1s, background-color 0.2s;
}

.headerButtonRight:hover {
  background-color: #00ff80;
}

.headerButtonRight.active {
  background-color: #ffff00;
}

.headerButtonRight:active {
  transform: translateY(3px);
  box-shadow: none;
}

.profile {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  z-index: 7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileBox {
  width: 20%;
  border: 2px solid #ffff;
  background-color: #00ff80;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#profExBtn {
  position: absolute;
  right: 30%;
  top: 30%;
}

#delAcc {
  position: absolute;
  left: 30%;
  top: 30%;
}

.profileName {
  width: 100%;
  background: #00ff80;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.score {
  width: 100%;
  background: #00ff80;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 10px;
}

.profileBox h2 {
  color: #000;
  background: #00ff80;
}

.alertBox {
  width: 20%;
  border: 2px solid #ffff;
  background-color: #00ff80;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.alertBox h1 {
  width: 100%;
  color: #000;
  background: #00ff80;
  display: flex;
  justify-content: center;
}

.alertBox div {
  background: #00ff80;
}
